.home {
  height: 115vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  position: relative;
}

.sub__home {
  height: 106vh;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .home {
    height: 285vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    position: relative;
  }

  .sub__home {
    height: 265vh;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
  }
}

@media screen and (max-width: 425px) {
  .home {
    height: 360vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    position: relative;
  }

  .sub__home {
    height: 345vh;
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
    gap: 0px;
  }
}
