.home {
  height: 115vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dddddd;
  position: relative;
}

.sub__home {
  height: 106vh;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: -50px;
}

@media screen and (max-width: 768px) {
  .home {
    height: 235vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    position: relative;
  }

  .sub__home {
    height: 225vh;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
  }
}

@media screen and (max-width: 321px) {
  .home {
    height: 355vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    position: relative;
  }

  .sub__home {
    height: 340vh;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
  }
}
