.home__component__right {
  height: 100%;
  width: 75%;
}

.home__component__right__top {
  display: flex;
  margin-top: 25px;
  justify-content: space-between;
}

.sub__home__right__top_revenue,
.sub__home__right__top_transaction,
.sub__home__right__top_likes,
.sub__home__right__top_user {
  width: 235.05px;
  height: 120px;
  border-radius: 20px;
  position: relative;
}

.sub__home__right__top_revenue {
  background-color: #ddefe0;
}

.sub__home__right__top_transaction {
  background-color: #f4eccd;
}

.sub__home__right__top_likes {
  background-color: #efdada;
}

.sub__home__right__top_user {
  background-color: #dee0ef;
}

.sub__home__right__top_div_right {
  width: 67%;
  height: auto;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.sub__home__right__top_div_right p:nth-child(1) {
  font-size: 14px;
  line-height: 16.8px;
  font-weight: 400;
}

.sub__home__right__top_div_right p:nth-child(2) {
  font-size: 24px;
  line-height: 32.8px;
  font-weight: 700;
  margin-top: 5px;
}

.sub__home__right__top_div_left {
  position: absolute;
  right: 18px;
  top: 10px;
}

.sub__home__right_icon {
  font-size: 27px;
}

.home__component__right__line-chart {
  height: auto;
  width: 100%;
  background-color: #fff;
  margin-top: 25px;
  border-radius: 20px;
}

.home__component__right__line-chart_top__div {
  display: flex;
  height: auto;
  /* justify-content: space-between; */
}

.home__component__right__line-chart_top__div .left {
  display: flex;
  flex-direction: column;
  width: 70%;
  /* border: 1px solid red; */
}

.home__component__right__line-chart_top__div .right {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid red; */
}

.home__component__right__line-chart_top__div .left span {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  margin-left: 25px;
}

.home__component__right__line-chart_top__div .left select {
  font-size: 14px;
  font-weight: 400;
  margin-top: 3px;
  margin-left: 25px;
  width: 18%;
  border: none;
  outline: none;
  cursor: pointer;
}

.guest,
.user {
  width: 35%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guest_col {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e9a0a0;
  margin-right: 10px;
  margin-top: 4px;
}

.user_col {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #9bdd7c;
  margin-right: 10px;
  margin-top: 4px;
}
.chart {
  margin-top: 20px;
}

.home__component__right__pie-chart-schedule {
  background-color: transparent;
  height: auto;
  width: 100%;
  margin-top: 25px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}

.home__component__right__line-chart-schedule_pie-chart {
  width: 48%;
  height: 256px;
  background-color: #fff;
  border-radius: 20px;
}

.home__component__right__line-chart-schedule_schedule {
  width: 48%;
  height: 256px;
  background-color: #fff;
  border-radius: 20px;
}

.home__component__right__line-chart-schedule_pie-chart_top {
  width: 85%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.home__component__right__line-chart-schedule_pie-chart_top span {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
}

.home__component__right__line-chart-schedule_pie-chart_top select {
  border: none;
  width: 28%;
}

.home__component__right__line-chart-schedule_pie-chart_btm {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.res {
  padding-left: -40px;
  padding-top: -10px;
  width: 10%;
}

.left_pie {
  width: 50%;
  height: 60%;
  margin-left: -20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.basic_tees {
  display: flex;
  flex-direction: column;
}

.basic_tees .upper {
  display: flex;
  height: 20px;
  width: 38%;
  justify-content: space-between;
  align-items: center;
}

.upper span {
  font-size: 14px;
  font-weight: 700;
}

.custom_short_plants .upper1 {
  display: flex;
  height: 20px;
  width: 63%;
  justify-content: space-between;
  align-items: center;
}

.upper1 span {
  font-size: 14px;
  font-weight: 700;
}

.super_hoodies .upper2 {
  display: flex;
  height: 20px;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}

.upper2 span {
  font-size: 14px;
  font-weight: 700;
}

.green {
  background-color: #98d89e;
}

.red {
  background-color: #ee8484;
}

.yellow {
  background-color: #f7dc7d;
}

.color {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.lower span {
  display: inline-block;
  margin-left: 26px;
  font-size: 12px;
  font-family: lato, sans-serif;
  color: #858585;
}

.home__component__right__line-chart-schedule_schedule_top {
  display: flex;
}

.home__component__right__line-chart-schedule_schedule_top {
  width: 85%;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.home__component__right__line-chart-schedule_schedule_top span {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.94px;
}

.home__component__right__line-chart-schedule_schedule_top_right {
  font-size: 12px;
  font-weight: 200;
  color: #858585;
  cursor: pointer;
}

.schedule_icon {
  font-size: 10px;
  cursor: pointer;
}

.home__component__right__line-chart-schedule_schedule_btm {
  width: 85%;
  height: auto;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.home__component__right__line-chart-schedule_schedule_btm_sec {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.greens {
  border-left: 4px solid #9bdd7c;
}

.violets {
  border-left: 4px solid #6972c4;
}

.home__component__right__line-chart-schedule_schedule_btm_sec
  span:nth-child(1) {
  font-size: 14px;
  font-weight: 700;
  margin-left: 20px;
}

.home__component__right__line-chart-schedule_schedule_btm_sec
  span:nth-child(2) {
  font-size: 12px;
  font-weight: 400;
  margin-left: 20px;
}

.home__component__right__line-chart-schedule_schedule_btm_sec
  span:nth-child(3) {
  font-size: 12px;
  font-weight: 400;
  margin-left: 20px;
}

.line__chart {
  width: 1048px;
  height: 300px;
}

@media screen and (max-width: 1156px) {
  .home__component__right {
    height: 100%;
    width: 95%;
  }
  .home__component__right__top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .sub__home__right__top_revenue,
  .sub__home__right__top_transaction,
  .sub__home__right__top_likes,
  .sub__home__right__top_user {
    width: 100%;
    height: 120px;
    border-radius: 20px;
    position: relative;
  }

  .home__component__right__line-chart {
    height: auto;
    width: 1000px;
    background-color: #fff;
    margin-top: 25px;
    border-radius: 20px;
  }

  .guest,
  .user {
    width: 47%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home__component__right__line-chart-schedule_pie-chart_top select {
    border: none;
    width: 32%;
  }
}

@media screen and (max-width: 768px) {
  .home__component__right__line-chart {
    height: auto;
    width: 680px;
    background-color: #fff;
    margin-top: 25px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 320px) {
  .home__component__right {
    height: 100%;
    width: 98%;
  }
  .home__component__right__top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .sub__home__right__top_revenue,
  .sub__home__right__top_transaction,
  .sub__home__right__top_likes,
  .sub__home__right__top_user {
    width: 100%;
    height: 120px;
    border-radius: 20px;
    position: relative;
  }

  .home__component__right__line-chart {
    height: auto;
    width: 1000px;
    background-color: #fff;
    margin-top: 25px;
    border-radius: 20px;
  }

  .guest,
  .user {
    width: 47%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home__component__right__line-chart-schedule_pie-chart_top select {
    border: none;
    width: 32%;
  }

  .home__component__right__line-chart {
    height: auto;
    width: 275px;
    background-color: #fff;
    margin-top: 25px;
    border-radius: 20px;
  }

  .home__component__right__line-chart_top__div {
    display: flex;
    height: auto;
    flex-direction: column;
    /* justify-content: space-between; */
  }

  .home__component__right__line-chart_top__div .right {
    display: flex;
    width: 100%;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */
    margin-left: -80px;
    margin-top: 10px;
    /* border: 1px solid red; */
  }
  .home__component__right__line-chart_top__div .left {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 1px solid red; */
  }

  .home__component__right__line-chart_top__div .left select {
    font-size: 14px;
    font-weight: 400;
    margin-top: 3px;
    margin-left: 25px;
    width: 48%;
    border: none;
    outline: none;
    cursor: pointer;
  }

  .home__component__right__pie-chart-schedule {
    flex-direction: column;
    gap: 10px;
  }

  .home__component__right__line-chart-schedule_pie-chart {
    width: 100%;
  }

  .home__component__right__line-chart-schedule_pie-chart_top {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  /* .home__component__right__line-chart-schedule_pie-chart_btm {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  } */

  .left_pie {
    width: 50%;
    height: 60%;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .basic_tees {
    display: flex;
    flex-direction: column;
  }

  .basic_tees .upper {
    display: flex;
    height: 20px;
    width: 55%;
    justify-content: space-between;
    align-items: center;
  }

  .upper span {
    font-size: 10px;
    font-weight: 700;
  }

  .custom_short_plants .upper1 {
    display: flex;
    height: 20px;
    width: 93%;
    justify-content: space-between;
    align-items: center;
  }

  .upper1 span {
    font-size: 10px;
    font-weight: 700;
  }

  .super_hoodies .upper2 {
    display: flex;
    height: 20px;
    width: 80%;
    justify-content: space-between;
    align-items: center;
  }

  .upper2 span {
    font-size: 10px;
    font-weight: 700;
  }

  .lower span {
    display: inline-block;
    margin-left: 26px;
    font-size: 8px;
    font-family: lato, sans-serif;
    color: #858585;
  }

  .home__component__right__line-chart-schedule_schedule {
    width: 100%;
    height: 256px;
    background-color: #fff;
    border-radius: 20px;
  }
}
