.sub__home__left {
  height: 100%;
  width: 20%;
  /* margin-left: 20px;
    margin-top: 40px; */
  background-color: black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hamberger {
  display: none;
}

.sub__home__left__top {
  height: 70%;
  width: 100%;
}

.sub__home__left__btm {
  height: 20%;
  width: 100%;
}

.sub__home__left__top span {
  color: #fff;
  display: inline-block;
  margin-top: 60px;
  margin-left: 50px;
  font-size: 36px;
  font-weight: 700;
}

.sub__home__left__top > div {
  margin-top: 30px;
  margin-left: 50px;
}

.sub__home__left__top_dashboard,
.sub__home__left__top_transaction,
.sub__home__left__top_schedules,
.sub__home__left__top_user,
.sub__home__left__top_settings {
  color: #fff;
  display: flex;
  height: 40px;
  font-size: 18px;
  line-height: 21.94px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  cursor: pointer;
}

.sub__home__left__top_dashboard {
  width: 57%;
  font-weight: 700;
}

.sub__home__left__top_transaction {
  width: 59%;
}

.sub__home__left__top_schedules {
  width: 54%;
}

.sub__home__left__top_user {
  width: 33%;
}

.sub__home__left__top_settings {
  width: 46%;
}

.icon_home {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.sub__home__left__btm_point {
  color: #fff;
  margin-top: 10px;
  margin-left: 50px;
  font-size: 15px;
  cursor: pointer;
}

.mar {
  margin-top: 40px;
}

.none {
  display: none;
}

.display {
  display: inline-block;
}

@media screen and (max-width: 1156px) {
  .sub__home__left {
    height: 95%;
    width: 20%;
    background-color: black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .sub__home__left {
    display: none;
  }

  .hamberger {
    display: block;
    margin-top: 15px;
    position: relative;
    background-color: transparent;
  }

  .hamberger img {
    height: 40px;
    width: 60px;
    border-radius: 5px;
  }

  .hamberger_menu {
    height: auto;
    border-radius: 10px;
    width: 25%;
    background-color: black;
    position: absolute;
    top: 40px;
    z-index: 999;
  }
  .ham {
    margin-left: 10px;
  }
}

@media screen and (max-width: 320px) {
  .sub__home__left {
    display: none;
  }

  .hamberger {
    display: block;
    margin-top: 15px;
    position: relative;
    background-color: transparent;
  }

  .hamberger img {
    height: 35px;
    width: 90%;
    border-radius: 5px;
  }

  .hamberger_menu {
    height: auto;
    border-radius: 10px;
    width: 75%;
    background-color: black;
    position: absolute;
    top: 40px;
    z-index: 999;
  }
  .ham {
    margin-left: 10px;
  }
}
